.customer-container 
.btn,
table,
.dropdown-item,
.customer-form{
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.5rem;
}

/* Customer table */


.table-body:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}



/* Customer form */

.customer-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.customer-container .customer-nav {
    height: 4rem;
    position: relative;
}

.customer-nav {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-option{
    padding: 0 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}


.custom-select, .form-control, .customer-form .btn {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.5rem;
}

custom-select {
    line-height: 200%;
}

tbody button {
    background: none;
    border: none;
}

.form-group .control-label:after {
    content:"*";
    color:red;
}

/* Loading */

.load {
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
}