.container-fluid {
  padding: 1rem;
}
.inner-container {
  padding: 1rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.inner-container section {
  flex: 1;
  position: relative;
}

.forgot-password
{
  margin-top: 1.8rem;
  line-height: 1.428;
}

a {
  color: #333;
}

a:hover {
  color: rgb(0, 0, 0);
  text-underline-offset: 0.3rem;
}

.form-group .form-control:focus {
  outline: none;
  box-shadow: none;
  border:1px solid #111
}

.forgot-password a:hover {
  color: darkgray;
  text-underline-offset: 0.3rem;
  padding-bottom: 0.1rem;
}

#register u {
  color: #333;
  text-underline-offset: 0.4rem;
  padding-bottom: 0.1rem;
}

#register ul {
  margin-top: 1.8rem;
  list-style: none;
}

#register li {
  margin-bottom: 0.8rem;
  line-height: 1.428;
}

#register ul li:before {
  content: '✓  ';
}

/* Resend email page */

.left-panel {
  height: 400px;
  width: 500px;
  object-fit: fill;
  border-radius: 10px;
  clip-path: circle(40%);
}

.left-panel:hover {
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.email {
  margin: 1.8rem 0;
}

