.dashboard
{
    padding: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.5rem;
}

.dashboard .stats
{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}